/**** Starts General ****/
:root {
  --header-padding: 50px;
  --nav-width: 300px;
  --placeholder-width: 280px;
  --color-active: #999b9e;
  --color-picker-width: 155px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 700px;
  background-color: #1d2128;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row;
  line-height: 0;
  border-bottom: 1px white solid;
}

nav {
  width: var(--nav-width);
  flex-shrink: 0;
  border-right: 1px solid white;
  height: 100%;
}

main {
  position: relative;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  height: auto;
}

.logo {
  font-weight: bold;
  font-size: 29px;
  width: var(--nav-width);
  padding: var(--header-padding) 0;
  text-align: center;
}

.logo-alt {
  color: darkgrey;
}

.fill-white {
  filter: invert(1);
}

.fill-gray {
  filter: invert(0.5);
}

.links {
  list-style: none;
}

.links img {
  margin-right: 2rem;
}

.links li {
  padding: 15px;
}

.links .active {
  background: var(--color-active);
}

.welcome {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.welcome p {
  font-weight: bold;
}

.forecast {
  font-weight: normal;
}

.notes-zone {
  display: flex;
  flex-flow: column;
}

.notes-placeholder::before {
  position: absolute;
  top: 15%;
  left: -15%;
  content: "{";
  font-size: 144px;
  line-height: 48px;
  font-weight: normal;
}

.notes-placeholder {
  position: absolute;
  top: 50%;
  left: calc(51% - var(--placeholder-width) / 2);
  width: var(--placeholder-width);
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
}

.notes-placeholder::after {
  position: absolute;
  content: "}";
  top: 15%;
  right: -15%;
  font-size: 144px;
  line-height: 48px;
  font-weight: normal;
}

.hide {
  display: none !important;
}

.delete-icon,
.palette {
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  border: none;
}

/**** Ends General ****/

/**** Starts Marvin ****/
.enter-note {
  display: flex;
  justify-content: center;
}

.notes-form {
  /* border: 1px solid white; */
  margin-top: 2em;
  width: 600px;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
}
.notes-form__actions {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.notes-form__textarea {
  border-radius: 1em;
  resize: none;
  border: none;
  width: 100%;
  padding: 1em;
  height: 100px;
  background: transparent;
}
.notes-form__btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.notes-form__btn:hover {
  cursor: pointer;
}
/**** Ends Marvin ****/

/**** Starts Victor ****/
.color-picker {
  position: absolute;
  display: flex;
  top: -300%;
  justify-content: center;
  width: var(--color-picker-width);
  flex-flow: row wrap;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 5px;
}
.color-ball {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 0 5px 5px;
}
.color-ball--shadow {
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

/**** Ends Victor ****/

/**** Starts Zamir ****/
.note {
  background-color: white;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
  border-radius: 8px;
  color: black;
  height: 260px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  width: 260px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.note__content {
  font-size: 1.125rem;
  overflow-wrap: break-word;
  height: 100%;
  overflow-y: auto;
}

.note__actions {
  position: relative;
  display: flex;
  align-items: center;
}

.note__action {
  margin-right: 30px;
}

.pinned,
.others,
.trash {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px;
}

/**** Ends Zamir ****/
